<!DOCTYPE html>
<html lang="en"style="height:100%; width:100%;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HotelManagement</title>
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body style="height:100%; width:100%;">
    <nav class="navbar" style="background-color:gold;">
        <ul style=" list-style-type: none; margin: 0; padding: 0;">
            <li style="display:inline;"><a asp-area="" asp-page="/Index" style="float: left;display: block; color: black; text-align: center; padding: 14px 16px; text-decoration: none;">Home</a></li>
            <li style="display:inline;"><a asp-area="" asp-page="/Privacy" style="float: left;display: block;color: black; text-align: center;padding: 14px 16px;text-decoration: none;">Privacy</a></li>
        </ul>
    </nav>
    @*<main role="main" class="pb-3">

    </main>*@
    <div id="content" style=" background: white; position: relative; top: 0px; bottom: 0; right: 0; left: 0; height:100%;width:100%;">
        @RenderBody()

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
