@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>*@
<div class="leftPanel" style="height: 100%; width: 200px; background-color:navajowhite; display:inline-block;position:absolute;">
    <img src="/images/palm tree.png" alt="" style="max-width: 100%; height: 100%; display: block;object-fit: cover;position:absolute;" />
</div>
<div class="rightPanel" style="height: 100%; width: 200px; background-color:navajowhite; display:inline-block; left:90%;position:absolute;">
    <img src="/images/palm tree.png" alt="" style="max-width: 100%; height: 100%; display: block;object-fit: cover;position:absolute;" />
</div>
<div id="anaEkran" style="position:relative;left:200px;background-color:white;height:100%;width:80%;">
    <div class="card" style="width: 18rem;position:relative;display:inline-block;">
        <img class="card-img-top" src="/images/hotel1.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Hotel1</h5>
            <p class="card-text">Otel1 hakkında bilgi</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;position:relative;display:inline-block;">
        <img class="card-img-top" src="/images/hotel2.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Hotel2</h5>
            <p class="card-text">Otel2 hakkında bilgi</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;position:relative;display:inline-block;">
        <img class="card-img-top" src="/images/hotel3.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Hotel3</h5>
            <p class="card-text">Otel3 hakkında bilgi</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>